{% extends "views/base.html" %}


{% block title %} {{_('Organizations')}} {% endblock %}

{% block extra_head %}
  <script src="https://cdn.jsdelivr.net/npm/@alpinejs/intersect@3.x.x/dist/cdn.min.js"></script>
{% endblock %}

{% block header %} {{_('Organizations')}} {% endblock %}


{% block main %}

<div x-data class='max-w-md m-auto'>

  # if user.is_authenticated and not user.managed_orgs
    <div>
      <p>
        You can create your own organization or join existing from the list below.
      </p>

      <div class="mt-6">
        <a class="btn btn-primary btn-sm" href="/organizations/new">{{_('Create')}}</a>
      </div>

    </div>
  # endif

  <div class="mt-8" x-data="{waiting: false}">
<!--    <h2 class="text-2xl text-center">
      {{_('Find organization')}}
    </h2>-->
    <form method="get" id="form"
      x-target.replace="messages list_replace" x-target.error="errors"
      @change="$el.requestSubmit()"

      @ajax:before="waiting = true;"

      @ajax:after="(event) => {
        waiting = false;
        window.history.replaceState(null, null, event.detail.response.url)
      }"
    >
      <fieldset class="col-span-2 md:col-span-1 text-center align-middle">
        <select class="select w-full max-w-xs select-bordered" name="regions__id">
          <option value="">{{_('Region: all')}}</option>
          # for region in user.country.regions.all()
            <option value="{{region.id}}">
              {{region.name}}
            </option>
          # endfor
        </select>
      </fieldset>
    </form>


    <div id="total" x-sync x-show="!waiting" class="px-2 lg:px-4 py-2" >
      # if page.paginator.count
        <span class="text-content">
          {{_('Found')}} {{page.paginator.count}} {{ngettext('organization', 'organizations', page.paginator.count)}}
        </span>
      # else
        {{_('No organizations with given filter')}}
      # endif
    </div>


    <div id='list_replace' x-merge="replace" class="px-2 lg:px-4">
      <svg x-show="waiting" class="mx-auto mb-10 mt-6 animate-spin h-5 w-5 text-white"
          xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
          <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
          <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
      </svg>
      <div id='list_append' x-merge="append">

        # for org in page
          <section class="card card-body bg-base-200 shadow-xl mb-4">

              <h2 class="card-title">
                {{org.name.capitalize()}}
              </h2>

              # if user.is_authenticated
                # if user in org.members.all()
                  <span class="badge badge-outline">
                    {{_('You are a member')}}
                  </span>
                # endif

                <div class="card-actions">
                  # if user in org.members.all()
                    # if 'admin' == org.orgmembership_set.get(user=user).role
                      <a class="btn btn-primary btn-xs" href="/organizations/{{org.id}}">
                        {{_('Edit')}}
                      </a>
                      <!--<a class="btn btn-primary btn-xs" href="/organizations/{{org.id}}/staff">
                        {{_('Manage Staff')}}
                      </a>-->
                    # endif
                  # else
                    <form action="/organizations/{{org.id}}/join-applications"
                      x-target.error='errors' method=post
                    >
                      # if org.join_requests.filter(user=request.user).exists()
                        <span id="join-{{org.id}}" class="badge badge-outline">
                          {{_('Join request sent')}}
                        </span>
                      # else
                        <button x-sync id="join-{{org.id}}" class="btn btn-primary btn-xs">
                          {{_('Join')}}
                        </button>
                      # endif
                    </form>
                  # endif
                </div>
              # endif

              # if not filters.regions__id
                <div x-data='{show_regions: false}' >
                  <p x-show="!show_regions" >
                    # for region in org.regions.all()[:4]
                      <span class="badge"> {{region.name}} </span>
                    # endfor
                  </p>

                  # if org.regions.all()|length > 4
                    <p x-show="show_regions">
                      # for region in org.regions.all()
                        <span class="badge"> {{region.name}} </span>
                      # endfor
                    </p>
                    <button
                      class="btn btn-xs tracking-widest"
                      @click="show_regions=!show_regions"
                    >
                      ...
                    </button>
                  # endif
                </div>
              # endif

          </section>
        # endfor

        # if page|length and not page.has_next()
            <div class="text-center"> {{_('End of list')}} </div>
        # endif

      </div>
    </div>

    {% include 'views/_pagination.html' %}

  </div>
</div>
{% endblock %}
