{% extends "views/base.html" %}

{% block title %}
  {{_('History')}}
{% endblock %}

{% block extra_head %}
  <style>
  </style>


  <script>
  </script>
    
{% endblock %}

{% block header %}
  {{_('History')}}
{% endblock %}

{% block main %}

<main
  x-data="{
    query: {{filters.model_dump_json()}},
    last_submitted: null,
    waiting: false,

    submit() {
      if(!equal(this.query, this.last_submitted)) {
        $ajax('', {target: 'list_replace', body: this.query, sync: true})
        this.last_submitted = { ...this.query }
      }
    }
  }"

  @ajax:before="waiting = true;"

  @ajax:after="(event) => {
    waiting = false;
    history.replaceState(null, null, event.detail.response.url)
  }"
>

  <form x-ref="form"
    class="grid grid-cols-2 gap-x-8 gap-y-4 px-2 lg:px-4 mb-4"
    @submit.prevent
    @change.debounce="submit()"
    @keyup.enter.debounce="submit()"
  >

      <fieldset class="col-span-2 md:col-span-1 text-center md:text-right align-middle">

        {{_('from')}} <input type="date" x-model="query.date__gt" @change.stop @blur="submit()">

        <select name="time__gt" class="select" x-model="query.time__gt">
          # for hour in range(24)
            <option value="{{'{:02}:00'.format(hour)}}"
              {{ 'selected' if hour == filters.time__gt.hour else '' }}
              >{{'%02d' % hour}}:00</option>
          # endfor
        </select>
      </fieldset>


      <fieldset class="col-span-2 md:col-span-1 text-center md:text-left align-middle">

        {{_('to')}} <input type="date" x-model="query.date__lt" @change.stop @blur="submit()">

        <select name="time__lt" class="select" value="{{filters.time__lt}}">
          # for hour in range(24)
            <option value="{{'{:02}:00'.format(hour)}}"
              {{ 'selected' if hour == filters.time__lt.hour else '' }}
              >{{'%02d' % hour}}:00</option>
          # endfor
        </select>
      </fieldset>


      <fieldset class="text-center col-span-2 md:text-right md:col-span-1 align-middle">

        <script src="https://cdn.jsdelivr.net/npm/choices.js@11.0.2/public/assets/scripts/choices.min.js"></script>

        <select multiple
          x-init="$el.choices = new Choices($el, {removeItemButton: true})"
          @change="query.region_id__in = $el.choices.getValue(true)"
          class="select hidden w-full max-w-xs"
        >
            <option placeholder>{{_('Region: all')}}</option>

            # for region in regions.filter(num_answers__gte=1)
                <option value="{{region.id}}"
                  {{ 'selected' if region.id in (filters.region_id__in or []) else '' }}
                >
                    {{region.name}}
                    {{region.num_answers or ''}}
                </option>
            # endfor
        </select>

      </fieldset>


      # set single_region = filters.region_id__in and filters.region_id__in|length == 1

      <fieldset id="uik_filter" x-sync
        class="text-center col-span-2 md:text-left md:m-0 m-auto inline-flex items-center md:col-span-1 align-middle {{ '' if single_region else 'opacity-50' }}"
      >

        <label class="px-2">
          {{_('UIK')}}
        </label>

        <input type=number
          min="1" max="9999"
          onwheel="this.blur()"
          class="input w-full max-w-xs"
          {{ '' if single_region else 'disabled' }}
          x-model.lazy="query.uik"
          placeholder="{{_('all')}}"
        />

      </fieldset>


      <fieldset aria-label="Complaint Filter"
        class="md:ml-auto col-span-2 md:col-span-1 flex text-center flex-wrap md:flex-nowrap items-center align-middle"
      >

        <span class="px-2 text-center w-full md:w-auto">{{_('Complaint')}}</span>

        <div class="join flex items-center justify-center md:w-auto w-full">
          <input class="btn join-item btn-xs" type="radio" x-model="query.complaint" value="no"
            aria-label="{{_('No')}}" />
          <input class="btn join-item btn-xs" type="radio" x-model="query.complaint" value="any"
            aria-label="{{_('Any')}}" />
          <input class="btn join-item btn-xs" type="radio" x-model="query.complaint" value="yes"
            aria-label="{{_('Yes')}}" />
        </div>

      </fieldset>


      <fieldset aria-label="Filter revoked"
        class="text-center col-span-2 md:text-left md:m-0 m-auto inline-flex items-center md:col-span-1 align-middle"
      >

        <label class="px-2 label cursor-pointer">
           <span class="label-text pr-2"> {{_('Include revoked')}} </span>
          <input type="checkbox" class="checkbox checkbox-sm" x-model="query.include_revoked"/>
        </label>

      </fieldset>

  </form>
  

  <div id="total" x-sync x-show="!waiting" class="px-2 lg:px-4 py-2" >
    # if page.paginator.count

      <span class="text-content">
        {{_('Found')}}: {{page.paginator.count}} {{ngettext('answer', 'answers', page.paginator.count)}}
      </span>

      # if user.is_authenticated
        <a href="/history/export-csv?{{request.GET.urlencode()}}" class="text-info ml-2"
          @click.stop   ## Prevent body.page_unloading animation
        >
          {{_('Download')}} csv
        </a>
      # endif

    # else
      {{_('No answers with given filter')}}
    # endif
  </div>


  ## Spinner
  <svg x-show="waiting" class="mx-auto mb-10 mt-6 animate-spin h-5 w-5 text-primary"
      xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
      <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
      <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
  </svg>


  <div id='list_replace' x-merge="replace" class="px-2 lg:px-4 text-center" >
    <ul id='list_append' x-merge="append">
      # for answer in page
          {% include "views/_answer.html" %}
      # endfor

      # if page|length and not page.has_next()
          <li> {{_('End of list')}} </li>
      # endif

    </ul>
  </div>

  {% include 'views/_pagination.html' %}

</main>

{% endblock %}
