{% extends "views/base.html" %}


{% block title %} {{_('Edit organization')}} {% endblock %}

{% block extra_head %}
  <script defer src="https://cdn.jsdelivr.net/npm/choices.js@11.0.2/public/assets/scripts/choices.min.js"></script>
{% endblock %}

{% block header %} {{_('Edit organization')}} {% endblock %}


{% block main %}

<form method=post x-data="{
    email: '',
    submit() {
        $ajax('', {method: 'post', target: 'errors', body: $el, sync: true})
      }
    }"
  class="flex max-w-md flex-col px-2 lg:px-4 border-opacity-50 mx-auto text-center" id='form'
  @ccchange="submit()"
  @ajax:success="location='/organizations'"
  @submit.prevent
>
  <input type=hidden name=id value="{{org.id}}" />

  <fieldset class="text-center align-middle mb-2">
    <input type=text
      class="input text-center input-bordered w-full"
      name=name
      placeholder="{{_('Name')}}"
      value="{{org.name}}"
    />
  </fieldset>


  <fieldset class="text-center align-middle">

    <select multiple
      x-init="$el.choices = new Choices($el, {removeItemButton: true})"
      class="select hidden max-w-xs"
      name=regions
    >
      <option placeholder>{{_('Regions')}}</option>

      # set selected = org.regions.all() if org else []
      # for region in user.country.regions.all()
        <option value="{{region.id}}"
          # if org
          {{ 'selected' if region in selected else '' }}
          # endif
        >
          {{region.name}}
        </option>
      # endfor
    </select>

  </fieldset>

  <div class="mt-8 flex gap-2 justify-center">

    <button class="btn btn-primary"
      :class="!body.page_unloading || 'animate-pulse cursor-wait'"
      @click="body.page_unloading=true; submit()"
    >
      {{_('Save') if org else _('Create')}}
    </button>

    <a class="btn" href="/organizations"
      :class="!body.page_unloading || 'animate-pulse cursor-wait'"
    >
      {{_('Cancel')}}
    </a>

  </div>
</form>

{% endblock %}
