{% extends "views/base.html" %}


{% block title %} {{_('Edit organization')}} {% endblock %}

{% block extra_head %}
  <script defer src="https://cdn.jsdelivr.net/npm/choices.js@11.0.2/public/assets/scripts/choices.min.js"></script>
{% endblock %}

{% block header %} {{_('Edit organization')}} {% endblock %}


{% block main %}

<form method=post
  id=form
  x-target="form messages"
  x-target.error="errors"
  x-target.302="_self"  ## go to new url
  x-data
  class="flex max-w-md flex-col px-2 lg:px-4 border-opacity-50 mx-auto text-center" id='form'

  @change="$el.requestSubmit()"
>
  <input type=hidden name=id value="{{org.id}}" />

  <fieldset class="text-center align-middle mb-4">
    <input type=text
      class="input text-center input-bordered w-full"
      name=name
      placeholder="{{_('Name')}}"
      value="{{org.name}}"
    />
  </fieldset>


  <fieldset class="text-center align-middle">

    <select multiple
      x-init="$el.choices = new Choices($el, {removeItemButton: true})"
      class="select hidden max-w-xs"
      name=regions
    >
      <option placeholder>{{_('Regions')}}</option>

      # set selected = org.regions.all() if org else []
      # for region in user.country.regions.all()
        <option value="{{region.id}}"
          # if org
          {{ 'selected' if region in selected else '' }}
          # endif
        >
          {{region.name}}
        </option>
      # endfor
    </select>

  </fieldset>
</form>

# if org
  <div class="mt-8 px-2 lg:px-4 max-w-md m-auto">
    <h3 class="text-xl mb-4 text-center"> {{_('Contacts')}} </h3>

    <ul id="contacts">
        # for contact in org.contacts.all() or [{}]
            <li class="card card-body bg-base-200 shadow-xl mb-4">
                <a href="/organizations/{{org.id}}/contacts">
                    # if contact
                      {{contact.name}} {{contact.value}}
                    # else
                      {{_('Add contact')}}
                    # endif
                </a>
            </li>
        # endfor
    </ul>

    <p class="mt-8">
      {{_('Electoral observers at the voting stations with UIK numbers given below will see your organization contacts.')}}
    </p>

    <ul x-sync id="uik_ranges" class="mt-8">
        # for branch in OrgBranch.objects.filter(organization=org).select_related('region')
            <li class="card card-body bg-base-200 shadow-xl mb-4">
                <h4> {{branch.region.name}} </h4>
                <a href="/organizations/{{org.id}}/branches/{{branch.region.id}}">
                    {{_('UIK ranges')}}
                    # for start, end in branch.uik_ranges or []
                        <span class="badge"> {{start}}-{{end}} </span>
                    # else
                      <span class="badge"> {{_('All')}} </span>
                    # endfor
                </a>
            </li>
        # endfor
    </ul>
  </div>
# endif

{% endblock %}
