
<div class="ui modal mini" id="LoginModal">
  <div class="header">Вход</div>
  <div class="content">
    <div >
      <p>Мы отправим ссылку для входа на ваш email.</p>
      
      <form method='post' class="ui tiny form autovalidate"
        action='/api/internal/email/outbox/login_links/'
        onsubmit="ufo.client.submit(this); return false;"
      >
        <div class="fields">
        
          <div class="field">
            <input type=email name="email" rules="email" class=""
              autocomplete="email" placeholder="Введите email" 
              onenter="$(this).closest('form').submit()"/>
          </div>
          
          <div class="field"> <button class="ui primary">Отправить</button> </div>
          
        </div>
        <div class="result"></div>
      </form>
      
    </div>
  </div>
  
  <div class="actions"> <div class="ui cancel button">Закрыть</div> </div>
</div> 
