
<div class="ui modal tiny" id="OrgCreateModal">
  <div class="header">Создать организацию</div>
  
  <div class="content">
    <form class="ui form autovalidate" method='post' action="/api/internal/orgs/"
      onSubmit="ufo.client.submit(this).done(()=> location.reload() ); return false;"
    >
    
      <div class="field">
        <label>Название</label>
        <input required=true class="name" rules="minLength[3]" type=text name="name" placeholder="Название организации" />
        <small class="form-text text-muted">
          Например: "Штаб Сидорова" или "Наблюдатели Петербурга"
        </small>
      </div>
      
      <div class="field"
          aria-label="Выберите регионы в которых действует организация">
        <label for="new_org_regions">Регионы</label>
        <select id="new_org_regions" rules='empty' name="regions[]"
          class="ui mini fluid search dropdown auto selection very long" multiple=""
          params="({placeholder: 'Регион не выбран', fullTextSearch: 'exact'})"
        >
          # for region in user.country.regions.all()
            <option value="{{region.id}}">{{region.name}}</option>
          # endfor
        </select>
      </div>
      
      <div class="result"></div>
      
    </form>
  </div>
          
  
  <div class="actions">
    <button class="ui primary approve button" >OK</button>
    <div class="ui cancel button">Закрыть</div>
  </div>
</div> 
