
<script>
  $(function(){
    $('body').on('click', 'a.view-images', function(e){
      images_html = ''
      
      $(this).data('images').split(',').forEach(function(x, n){
//           alert(x)
        if (x == '') {return}
        images_html += `<div>
        <a target=blank href="https://s3.eu-central-1.amazonaws.com/ekc-uploads/`+x+`" class="ui medium image"><img class="img-thumbnail" src="https://s3.eu-central-1.amazonaws.com/ekc-uploads/`+x+`"/></a>
        </div>`
      })
      $('#PhotosModal div.images').html(images_html);
      
      tik_complaint = $(this).closest('div').find('pre').text();
      $('#PhotosModal div.complaints').html(`<div><pre>`+tik_complaint+`</pre></div>`);
      
      $('#PhotosModal .header').html($(this).data('title'));
      $('#PhotosModal').modal('show')
    })
  })
</script>


<div class="ui modal fullscreen" id="PhotosModal" style="">
  <div class="header">Фото</div>
  
  <div class="content scrolling">
    <div class="images"></div>
    <div class="complaints"></div>
  </div>
  
  <div class="actions">
    <div class="ui cancel button">Закрыть</div>
  </div>
</div> 
