
<script>
</script>

<div class="ui modal tiny" id="SettingsModal">
  <div class="header">Настройки</div>
  <div class="content">
    
    <form class="ui form autovalidate" method=post action='/api/internal/profile/settings/'
      onSubmit="ufo.client.submit(this).done(() => location.reload() ); return false;"
    >
      
      <div class="field">
        <label for="timezone">Часовой пояс</label>
        <select name="utc_offset" required=true
          class="ui dropdown auto mini fluid selection" 
          value="{{request.session.get('utc_offset')}}"
          params="({showOnFocus: false})"
        >
          {% for x in range(2, 13) %}
            <option value="{{x}}">UTC{{'{x:+}'.format(x=x)}}</option>
          {% endfor %}
<!--               <small id="region_help" class="form-text text-muted"></small> -->
        </select>
      </div>
<!--       <div class="ui error message"></div> -->
      <div class="result"></div>
    </form>
  </div>
  
  <div class="actions">
    <button class="ui primary approve button">OK</button>
    <div class="ui cancel button">Закрыть</div>
  </div>
</div> 
