
<script>
  $(function(){
    window.shown_floor = "{{floor.isoformat() if answers and floor else ''}}";
    # if not (answers and floor)
      $('#more').hide()
    # endif
  })
</script>

{% if answers and floor %}
  <div style="text-align: center">
    <small style="color:#999">{{humanize.naturalday(floor)}}</small>
  </div>
  <div style="text-align: center">
    {{floor.strftime('%H:%M')}} - {{ceil.strftime('%H:%M')}}
  </div>
{% endif %}

{% for answer in answers %}
<!--   <div class="alert " role="alert"> -->
  <div class="message alert {% if answer.revoked %}alert-light{% elif answer.is_incident %}alert-warning{% else %}alert-secondary{% endif %}" role="alert">
      
      <!--<div>
        <a class="alert-link" style="margin-right: 10px" href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true">⋯</a>
        
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" href="#">Добавить метку</a>
          <a class="dropdown-item" href="#">Скрыть все события этого типа</a>
        </div>
          
        <div class="badge badge-warning">Комиссия в черном списке</div>
        <div class="badge badge-secondary">Передано в районную группу</div>
      </div>-->
      
      <div class="" style="text-align: center">
        # if request.GET.get('region') in ('null', None) 
          {{answer.region.name}}
        # endif
        <a data-toggle="tooltip" data-placement="top" title="{{answer.region.name}}" class="alert-link" href="/old/html/feed/answers/?region={{answer.region_id}}&uik={{answer.uik}}">
        УИК {{answer.uik}}</a>
      </div>
<!--           <span ></span> -->

      
      <div style="text-align: center">
        <small class="ui pophover" style="margin: 0 5px; color: gray;" 
          title="">
          {{answer.timestamp.astimezone(request.user.tz).strftime('%H:%M')}}
        </small>
        <div class="ui special popup" style="display:none; text-align: left; ">
          <div style="width: max-content;">
            <small style="color: gray;">
              {{answer.timestamp.astimezone(answer.region.tz).strftime('%d %b %Y, <b>%H:%M</b>')|safe}}
            </small> &nbsp;
            {{answer.region.name}} (UTC{{'{x:+}'.format(x=answer.region.utc_offset)}})
          </div>
        </div>
          {% if answer.revoked %}Отозвано <s>{% endif %}
          
          {{answer.question.label}}: <strong>{{answer.get_value()}}</strong>.
          
          {% if answer.revoked %}</s>{% endif %}
        <br>
        
        {% if answer.operator_id %}
          ## Ответ добален оператором

          <i>"{{answer.operator_comment}}". Добавил оператор 
            <a class="user" style="color: gray;" href="#" data-toggle="popover" data-placement="top" data-trigger="focus">
              {{answer.operator.last_name}} {{answer.operator.first_name}}
            </a>. 
          </i>
          <div class="user-popover" style="display:none">
            <div>
              <a href=# data-toggle="tooltip" data-placement="top" title="http://t.me/spbelect">
                <img width=24 height=24 src="/static/Telegram_alternative_logo.png"/>
                t.me/spbelect
              </a>
              <a href=# data-toggle="tooltip" data-placement="top" title="user@example.org">
                <img width=24 height=24 src="/static/mail-icon.png"/>
                user@example.org
              </a>
            </div>
            <!--<div>
              <a class="dropdown-item" href="#">Добавить пользователя в игнор-лист</a>
            </div>-->
          </div>
        
        {% else %}
          ## Ответ добален пользователем мобильного приложения

          # if not request.user.pk
            ## Незалогиненым не показываетм контакты
            <span style="color: gray; cursor:pointer;">
              <a class="login" href=#>Войдите</a> чтобы видеть контакты пользователя.
            </span>
          # else
            ## Оператор залогинен
            {% include "_answer_contacts.html" %}
          # endif

        {% endif %}
        
      </div>
          
      {% if answer.is_incident and answer.appuser_id in request.user.disclosed_appusers %} 
      <div style="margin: 10px 0">
        <small>
          <div style="text-align: center;" >
            Жалоба
          </div>
          <div style="text-align: center;" >
            УИК:  
            {% if answer.uik_images() %} 
              <a class="alert-link view-images" href="#" data-title="УИК {{answer.uik}} Фото" data-images="{{','.join(answer.uik_images())}}"> 
            {% endif %}
              {{answer.get_uik_complaint_status_display() or 'Жалоба не подавалась'}}. 
            {% if answer.uik_images() %} <img width=20 height=20 src="/static/Antu_folder-camera40.png"></a> {% endif %}
          </div>
          <div style="text-align: center;" >
            ТИК: 
            {% if answer.tik_complaint_text %} 
              <a class="alert-link view-images" href="#" data-title="УИК {{answer.uik}} Фото" data-images="{{','.join(answer.tik_images())}}"> 
            {% endif %}
            {{answer.get_tik_complaint_status_display() or 'Жалоба не подавалась'}}.
            {% if answer.tik_images() %} <img width=20 height=20 src="/static/Antu_folder-camera40.png">{% endif %}
            {% if answer.tik_complaint_text %} </a> {% endif %}
            
            <pre style="display: none">{{answer.tik_complaint_text}}</pre>
            
          </div>
        </small>
      </div>
      {% endif %}
      
  </div>
{% endfor %} 
