{% extends "base.html" %}



{% block title %} 
  Лента 
    # if uik:
      УИК {{uik}} {{region.name[:21]}} 
    # elif region:
      {{region.name[:21]}}
    # endif
{% endblock %}

{% block extra_head %}
  <script>
    $(function(){
      ufo.url.query.params.delete('restrict_uik_ranges');
    })
  </script>
{% endblock %}

{% block header %}
  Всего ответов получено: {{num_answers or 0}}
{% endblock %}

{% block main %}
<div x-data="{query: Object.fromEntries(new URLSearchParams(location.search))}"
  x-init="$watch('query', () => location.search = new URLSearchParams(query).toString())">

  <div bp="grid" style="padding: 5px 0;">
    <fieldset bp="4@lg offset-5@lg text-center">
      <div aria-label="Фильтр инцидентов" class="ui dropdown auto"
        value='{{request.GET.priority or "any"}}'>
        <div class="text"></div> <i class="dropdown icon"></i>
        <div class="menu" @click.prevent="query.priority = $event.target.dataset.value">
          <div class="item" aria-label="Инцидент не важен" data-value="any">
            Все ответы</div>
          <div class="item" aria-label="Только инциденты" data-value="incident">
            Все инциденты</div>
          <div class="item" aria-label="Приоритетные инциденты" data-value="urgent">
            Приоритетные инциденты</div>
        </div>
      </div>
    </fieldset>
  </div>
    
  <div bp="grid" style="padding: 5px 0;">
    <fieldset aria-label="Фильтр жалоб" bp="4@lg offset-5@lg text-center">
      <label>Жалоба</label><br/>
      
      <script>
        // $(function(){$(`button.{{request.GET.complaint or 'any'}}`).addClass('active')});
      </script>
      <div class="ui buttons basic" @click.prevent="query.complaint = $event.target.value">
        <button class="ui mini" :class="{'active': query.complaint == 'no' }"
          value='no'
          aria-label="Жалоба не подавалась">Нет</button>
        <button class="ui mini" :class="{'active': query.complaint == 'any' }"
          value='any'
          aria-label="Наличие жалобы неважно">Неважно</button>
        <button class="ui mini" :class="{'active': query.complaint == 'yes' }"
          value='yes'
          aria-label="Жалоба подавалась">Есть</button>
      </div>
    </fieldset>
  </div>
  
  # if shown_uik_ranges
  <div bp="grid" style="padding: 5px 0;">
    <div bp="4@lg offset-5@lg text-center" class='ranges'>
      Показаны УИК: {{', '.join(shown_uik_ranges)}}
      <button class="ui button icon mini circular pophover" data-content="Показать все"
        onClick="ufo.url.query({restrict_uik_ranges: 'no'})">
        <i class="times icon " ></i>
      </button>
    </div>
  </div>
  # endif
  
  <div id='feed'>
    {% include "_feed.html" %}
    {% if not answers %}
      <div style="text-align: center; padding: 2em; background: #eee;">
            Нет ответов с таким фильтром.
      </div>
    {% endif %}
  </div>

  {% if answers %}
  <div bp="grid" style="padding: 5px 0;">
    <div bp="12 text-center" class="">
      <script>
        $(function(){
          $('body').on('click', '#more', function(e){
            let more_query = new URLSearchParams(window.location.search);
            more_query.set('shown_floor', window.shown_floor)
            $.get('/feed/more_answers/?'+more_query.toString(), function(data){
              $('#feed').append(data);
            })
          })
        });
      </script>
      <button id="more" type="button" class="btn btn-secondary"> Ещё </button>
    </div>
  </div>
  {% endif %}
  
</div>

  {% include "modals/_PhotosModal.html" %}

{% endblock %}
