
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE }}" xml:lang="{{ LANGUAGE_CODE }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
  <head>
    <style>
    </style>
    <title>
      {% block title %} {{ title }} {% endblock %} | uik.info
    </title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    
    <link rel="shortcut icon" type="image/png" href="/static/ufo/favicon.png" />

<!--     <link rel="stylesheet" type="text/css" href="/static/ufo/base.css" /> -->
    {% if LANGUAGE_BIDI %}
      <link rel="stylesheet" type="text/css" href="/static/admin/css/rtl.css" />
    {% endif %}

    <script defer src="https://cdn.jsdelivr.net/npm/@imacrayon/alpine-ajax@0.9.0/dist/cdn.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.14.1/dist/cdn.min.js"></script>

<!--     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script> -->
<!--     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!--     <script src="https://cdnjs.cloudflare.com/ajax/libs/jsrender/1.0.6/jsrender.min.js" integrity="sha256-jCkC+X+pO2BXAAX0QCzoPNXDJKA7XY1luH2l/Tpzb1Y=" crossorigin="anonymous"></script> -->

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.4/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.4/dist/semantic.min.js"></script>

    
<!--         <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script> -->
        
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"></script>
<!--     <script src="https://unpkg.com/@popperjs/core@2" crossorigin="anonymous"></script> -->
    <!--
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>-->

    <link href="https://unpkg.com/blueprint-css@3.1.0/dist/blueprint.min.css" rel="stylesheet" />
  
<!--        <script type="text/javascript" src="/static/ckeditor/ckeditor/ckeditor.js"></script>
        <script type="text/javascript" src="/static/ckeditor/ckeditor-init.js"></script>-->


    <link href="/static/base.css" rel="stylesheet" />
  
    <script type="module" src="/static/ufo.js"></script>
  
    <script>
      $(function(){
//             $('[data-toggle="tooltip"]').tooltip();
        $('.ui.checkbox').checkbox();
        
//         $(window).keydown(function(event){
//           if(event.keyCode == 13) {
//             event.preventDefault();
//             return false;
//           }
//         });
  
        $('button.ui').addClass('button')
        
        $('.popclick').popup({on: 'click', lastResort: 'bottom right'})
        $('.pophover').popup({on: 'hover', lastResort: 'bottom right'})
        
//         $('body').on("click", "simple-counter", function(){alert(1)})
        $('body').on("ready", "input", function(){
          console.log(this)
        })
        $('body').on("load", ".popclick", function(){
          $(this).popup({on: 'click', lastResort: 'bottom right'})
        })
        $('body').on("load", ".pophover", function(){
          $(this).popup({on: 'hover', lastResort: 'bottom right'})
        })
      });
        
    </script>
    
    {% block extra_head %}{% endblock %}
  </head>

  <body>
      
    <div id="main" >

      <div bp="grid" style="padding: 5px 0;">
        <div bp="4@lg 9 text-left padding-left--sm" class='header-left'>
          {% include "_topleftmenu.html" %}
        </div>
        <div bp="4@lg last@lg 3 text-right padding-right--sm" class='header-right'>
          <a style="color:gray;" href=# onclick="$('#NotificationsModal').modal('show')">
            <span bp="hide show@lg" style="vertical-align: middle;">Уведомления</span> 
            <span class="{{'badge badge-info' if notifications}} notifications" style="vertical-align: middle;">{{notifications|length}}</span> 
            <i bp="show hide@lg" class="envelope outline icon"></i>
<!--             <img bp="show hide@lg" height=24 width=24 src="/static/mail-icon.png"/>  -->
          </a>
        </div>
        <div bp="4@lg 12 text-center">
          <span style="color:gray; margin-left: 10px">{% block header %}{% endblock %}</span>    
        </div>
      </div>
      
      {% for message in messages %}
      <div class="alert {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}alert-danger
{% else %}alert-info{% endif %}" role="alert">
        {{ message }}</div>
      {% endfor %}
      
      {% block main %}{% endblock %}
  
      ## Footer
      <div style='height: 50px; width: 100%'></div>  
      
    </div>

    # if request.user.pk
      # for org in request.user.owned_orgs.all()
        {% include "modals/_OrgEditModal.html" %}
      # endfor
    # endif
    
    {% include "modals/_LoginModal.html" %}
    {% include "modals/_NotificationsModal.html" %}
    {% include "modals/_SettingsModal.html" %}
  </body>
</html>
