{% extends "base.html" %}



{% block title %} Feed {% endblock %}

{% block extra_head %}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  <link href="https://unpkg.com/blueprint-css@3.1.0/dist/blueprint.min.css" rel="stylesheet" />

  
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
  <style>
    div.flex-right {
      display:flex; 
      flex-direction: row-reverse;
    }
    div.flex-right > div {
      margin: 0 5px;
    }
    div.flex-right > div:first-child {
      margin: 0 0px;
    }
    
    .popover {
      max-width: 576px;
    }
/*     footer img {width: 16px; height:16px} */
    div.user-popover img {width: 24px; height: 24px}
    div.table {display:table}
    div.row {display:table-row}
    div.cell {
        display:table-cell;
        border: 1px solid #999999;
        padding: 1px;}
    
    @media only screen and (min-width: 600px) {
      #main {
        padding: 0 10px;
      }
    } 
  </style>
  <script type="text/javascript" >
    $(function(){
        $('[data-toggle="tooltip"]').tooltip()
//     $('[data-toggle="popover"]').popover()
//         function expandTextarea(id) {
        $('.select-complaint').select2({width: "resolve"});
        $('body').popover({
              content: function() {
                return $(this).closest('div').find('div.user-popover').show().get(0)
              },
              selector: 'a.user',
              trigger: 'click',
              html: true,
              closeOnClickOutside: true,  // https://github.com/twbs/bootstrap/issues/26719
        })
        $('body').on('click', 'a.subscribe', function(e) {
          if ($(this).text() == 'подписаться') {
            $(this).text('отписаться');
          } else {
            $(this).text('подписаться');
          }
          return false;
        })
        $('body').on('keyup', 'textarea', function(e) {
//             debugger;
            if ((e.originalEvent.code == 'Enter') && (e.originalEvent.shiftKey == false)) {
              $(this).val('');
              this.style.height = this.scrollHeight + 'px';
              return false;
            }
            this.style.overflow = 'hidden';
            this.style.height = 0;
            this.style.height = this.scrollHeight + 'px';
        });
//     }

//     expandTextarea('txtarea');

//         $("table").tablesorter();
        /*var options = {
            valueNames: [ 'app_id', ]
        };

        var hackerList = new List('my', options);*/
    });
  </script>
{% endblock %}

{% block main %}

<div id="main" >

  <div bp="grid" style="padding: 5px 0;">
    <div bp="4 text-left" class=''>
      <a class="dropdown-toggle" style="color:gray;" href="#" data-toggle="dropdown" aria-haspopup="true">Наблюдатели петербурга — Лента
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">НП Кировский район — Лента
          <span class="badge badge-warning">12</span>
          <span class="badge badge-danger">7</span>
        </a>
        <a class="dropdown-item" href="#">Штаб Шуршева — Лента
          <span class="badge badge-warning">3</span>
        </a>
        <a class="dropdown-item" href="#">Добавить инцидент</a>
        <a class="dropdown-item" href="#" data-toggle="tooltip" data-placement="right" 
          title="Архив событий, экспорт в файл">Поиск</a>
        <a class="dropdown-item" href="#">Избранное</a>
        <a class="dropdown-item" href="#" data-toggle="tooltip" data-placement="right" 
          title="Подать/отозвать заявку на вступление в координирующую организацию">Организации</a>
        <a class="dropdown-item" href="#" data-toggle="tooltip" data-placement="right" 
          title="Добавить/удалить оператора. Выбрать УИКи отображаемые в ленте.">Управление 
        <i style="color:gray;">(видно только админам организации)</i></a>
        
        <div class="dropdown-divider"></div>
        <!--<form class="pl-4 pr-4">
          <img src="https://avatar-cdn.atlassian.com/default/128" width=24 height=24 ></img>
          user@example.org <button style="float:right" type="submit" class="btn btn-sm btn-outline-dark">Выйти</button>
        </form>-->
        <p style="text-align:left" class="pl-4 mb-0 text-muted">
        <img src="https://avatar-cdn.atlassian.com/default/128" width=24 height=24 ></img>
          user@example.org
        </p>
        <a class="dropdown-item" href="#">Профиль</a>
        <a class="dropdown-item" href="#">Выйти</a>
      </div>
      
    </div>
<div bp="4 text-center">

      <span style="color:gray; margin-left: 10px"> Всего событий получено: 335 {{events.count}} </span>
      
</div>
    <div bp="4 text-right" class=''>
      <a class='' style="color:gray;" href=#>Обсуждения <span class="badge badge-info">6</span></a>
    </div>
  </div>

  <div bp="grid" style="padding: 5px 0;">
    <div bp="4 text-center"></div>
    <div bp="4 text-center">
      <div class=''>
<!--         <div> -->
          <a class="dropdown-toggle text-danger" style="color:gray;" href="#" data-toggle="dropdown" aria-haspopup="true">Приоритетные инциденты
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item text-warning" href="#">Все инциденты</a>
            <a class="dropdown-item text-secondary" href="#">Все события</a>
          </div>
      </div>
      <!--<button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#exampleModalLong">
        Фильтр
      </button>-->
    </div>
  </div>
    
  <div bp="grid" style="padding: 5px 0;">
    <div bp="4 text-center"></div>
    <div bp="4 text-center">
    <!--
          <label for="exampleCheck1">Только необжалованные</label>
          <input type="checkbox" id="exampleCheck1" style="vertical-align: middle;">-->
        <div>Жалоба</div>
      <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-light">
          <input type="radio" name="options" id="option1" autocomplete="off"> Нет
        </label>
        <label class="btn btn-light active">
          <input type="radio" name="options" id="option2" autocomplete="off" checked> Неважно
        </label>
        <label class="btn btn-light">
          <input type="radio" name="options" id="option3" autocomplete="off"> Есть
        </label>
      </div>
    </div>
    <div bp="4 text-center"></div>
    <!--
      <div bp=12 >
        <select class="select-complaint" name="complaintstatus[]" style="width: 100%" multiple="multiple">
          <option value="AL">Не обжаловано</option>
          <option value="WY">УИК: ожидание решения</option>
          <option value="WY">УИК: получено удовлетворительное решение</option>
        </select>
        
      </div>-->
  </div>
  
  <div>
    <div class="alert alert-warning" role="alert">
      
      <div>
        <a class="alert-link" style="margin-right: 10px" href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true">⋯</a>
        
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" href="#">Добавить метку</a>
          <a class="dropdown-item" href="#">Скрыть все события этого типа</a>
        </div>
          
        <div class="badge badge-warning">Комиссия в черном списке</div>
        <div class="badge badge-secondary">Передано в районную группу</div>
      </div>
      
      <div style="text-align: center">
        УИК <a class="alert-link" href="#">1237</a>
        
      </div>
<!--           <span ></span> -->

      
      <p style="text-align: center">
        <small style="margin: 0 5px; color: gray;">16:20</small> 
        Председатель УИК сообщил присутствующим кол-во избирателей на 8 утра, кол-во избирателей внесенных в список по МН, кол-во избирателей, исключенных из списка для голосования по МН, в т.ч. кол-во избирателей исключенных по специальному заявлению с маркой: <strong>Нет</strong>.
      
        <br>
        
        <i>"Звонил Виктор, наблюдатель". Добавил оператор 
        <a class="user" style="color: gray;" href="#" data-toggle="popover" data-placement="top" data-trigger="focus">Крыленков Лев</a>. </i>
        <div class="user-popover" style="display:none">
          <div>
            <a href=# data-toggle="tooltip" data-placement="top" title="http://t.me/spbelect">
              <img src="/static/Telegram_alternative_logo.png"/>
              t.me/spbelect
            </a>
            <a href=# data-toggle="tooltip" data-placement="top" title="user@example.org">
              <img src="/static/mail-icon.png"/>
              user@example.org
            </a>
          </div>
          <div>
            <a class="dropdown-item" href="#">Добавить пользователя в игнор-лист</a>
          </div>
        </div>
      </p>
          
      
      <div style="margin: 10px 0">
        <small>
          <div style="text-align: center;" >
          УИК:  <a class="alert-link" href="#">отказ принять жалобу. </a> 
          </div>
          <div style="text-align: center;" >
          ТИК:  жалоба не подавалась.
          </div>
        </small>
      </div>
      
      <div>
      <a style="color:gray; font-size:small" href=#collapseExample data-toggle="collapse" aria-controls="collapseExample"> Обсуждение: 2</a> 
      <a style="color:gray; font-size:small; margin-left: 20px;" class="subscribe" href=#>подписаться</a>
      <div class="collapse" id="collapseExample">
        <div class="">
          19:01 <a style="color: gray;" href="#">Глеб Чипига</a>: Кто-нибудь уточнил в чем там дело?
        </div>
        <div class="">
          19:07 <a style="color: gray;" href="#">Лев Крыленков</a>: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
        <div>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"></textarea>
<!--               <small>shift+enter to send</small> -->
        </div>
      </div>
      </div>
    </div>
    <div class="alert alert-secondary" role="alert">
    
      <div >
        <a class="alert-link " style="margin-right: 10px" href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true">⋯</a>
        
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" href="#">Добавить метку</a>
          <a class="dropdown-item" href="#">Скрыть все события этого типа</a>
        </div>
          
      </div>
      
      <div style="text-align: center;" >
        УИК <a class="alert-link" href="#">582</a>
        
      </div>
      <p style="text-align: center">
        <small style="margin: 0 5px; color: gray;">15:30</small> Каждая книга прошита и скреплена печатью УИК и подписью председателя, снабжена титульным листом с указанием порядкового номера; страницы пронумерованы по порядку; строки списка избирателей пронумерованы по порядку сквозной нумерацией по страницам и книгам: <strong>Да</strong>
        <br><i>
        <a style="color: gray;" href="#">Иванов Иван</a>, ПСГ. </i>
        
        
      </p>
      
    </div>
    
    <div class="alert alert-warning" role="alert">
    
      <div>
        <a class="alert-link " style="margin-right: 10px" href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true">⋯</a>
        
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" href="#">Добавить метку</a>
          <a class="dropdown-item" href="#">Скрыть все события этого типа</a>
        </div>
          
        <div class="badge badge-warning">Надо перезвонить</div>
      </div>
      
      <div style="text-align: center">
        
        УИК <a class="alert-link" href="#">582</a> 
        
        
      </div>
      <p style="text-align: center"> 
        <small style="margin: 0 5px;  color: gray;">13:30</small> 
        Вам дали ознакомиться со списком избирателей, разделенным на книги: <strong>Нет</strong>.
        <br>
        <i style="color: gray; font-size: small;">“ Мне сказали что это персональные данные ”</i>
        <br>
        
        <i>
        <a style="color: gray;" href="#">Иванов Иван</a>, ПСГ. </i>
      </p>
      
      <div style="margin-bottom: 10px">
      <small>
        <div style="text-align: center;" >
        УИК:  <a class="alert-link" href="#">получено неудовлетворительное решение. </a> 
        </div>
        <div style="text-align: center;" >
        ТИК:  <a class="alert-link" href="#">жалоба отправлена по email.</a>
        </div>
      </small>
      </div>
      
      
    </div>
    <div class="alert alert-light" role="alert">
      <div>
        УИК <a class="alert-link" href="#">582</a>
      </div>
      <p>Отозвано <s>Вам дали ознакомиться со списком избирателей, разделенным на книги: <strong>Да</strong></s>
      
        <footer class="blockquote-footer">
          <a class="alert-link" href="#">Иванов И</a>, ПСГ. 13:28
        </footer>
      </p>
    </div>
  </div>
</div>
  

<div class="modal fade" id="Usermodal" tabindex="-1" role="dialog" aria-labelledby="userModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="userModalLongTitle">Иванов Иван</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ПСГ УИК 582 
        <a href=#><img src="/static/Telegram_alternative_logo.png"/></a>
        <a href=#><img src="/static/mail-icon.png"/></a>
          
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Изменить фильтр</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
        <button type="button" class="btn btn-primary">Применить</button>
      </div>
    </div>
  </div>
</div>
<!--     { render_bundle "main" } -->
{% endblock %}
