{% extends "base.html" %}

{% block title %} Архив {% endblock %}

{% block extra_head %}
  <style>
    label:has(input:checked[name=complaint]) {
      background-color: rgb(42, 45, 47);
      color: rgb(209, 205, 199);
    }
  </style>
  <script>

    $(function(){
      ufo.url.query.params.delete('show_all')
})
  </script>
    
{% endblock %}

{% block header %}
<!--   Всего ответов получено: {{num_answers}} -->
{% endblock %}

{% block main %}

<div x-data="{query: Object.fromEntries(new URLSearchParams(location.search))}"
  x-init="$watch('query', () => location.search = new URLSearchParams(query).toString())"
  bp="padding--sm">
  <div bp="grid vertical-center ">
    <fieldset bp="3@lg 12 text-center text-left@lg padding-bottom--sm">
      <div class="ui dropdown very long region auto search"
        params="({fullTextSearch: 'exact', clearable: true})"
        value="{{request.GET.region or 'any'}}">
        <input type=hidden >
        <div class="text"></div>&nbsp;<i class="dropdown icon"></i>
        <div class="menu" @click.prevent="query.region = $event.target.dataset.value">
          <div class="item" data-value="any">Регион: неважно</div>
          {% for region in Region.objects.all() %}
            <div class="item" data-value="{{region.id}}">{{region.name}}</div>
          {% endfor %}
        </div>
      </div>
    </fieldset>

    <fieldset bp="6@md 4@lg 12 text-center text-left@md padding-bottom--sm">
        с <input type="date" :value="query.fromtime"
        @blur="query.fromtime = $el.value"
        @keyup.enter="query.fromtime = $el.value">
    </fieldset>
    <fieldset bp="6@md 4@lg 12 text-center text-left@md padding-bottom--sm">
        по <input type="date" :value="query.totime"
        @blur="query.totime = $el.value"
        @keyup.enter="query.totime = $el.value">
    </fieldset>
  </div>
    
  <div bp="grid vertical-center">
   <fieldset bp="4@lg text-center text-left@lg">
      <div aria-label="Фильтр инцидентов" class="ui dropdown auto"
        value='{{request.GET.priority or "any"}}'>
        <div class="text"></div> <i class="dropdown icon"></i>
        <div class="menu" @click.prevent="query.priority = $event.target.dataset.value">
          <div class="item" aria-label="Инцидент не важен" data-value="any">
            Все ответы</div>
          <div class="item" aria-label="Только инциденты" data-value="incident">
            Все инциденты</div>
          <div class="item" aria-label="Приоритетные инциденты" data-value="urgent">
            Приоритетные инциденты</div>
        </div>
      </div>
    </fieldset>

    <div bp="4@lg 12 text-center text-left@lg padding-bottom--sm">
      <fieldset aria-label="Фильтр жалоб">
        <label>Жалоба</label><br/>

        <script>
          // $(function(){$(`button.{{request.GET.complaint or 'any'}}`).addClass('active')});
        </script>
        <div class="btn-group btn-group-toggle btn-group-sm" data-toggle="buttons">
          <label class="btn btn-light">
            <input x-model="query.complaint" type="radio" name="complaint" value="no"> Нет
          </label>
          <label class="btn btn-light">
            <input x-model="query.complaint" type="radio" name="complaint" value="any"> Неважно
          </label>
          <label class="btn btn-light">
            <input x-model="query.complaint" type="radio" name="complaint" value="yes"> Есть
          </label>
        </div>
       <!-- <div class="ui buttons basic" @click.prevent="query.complaint = $event.target.value">
          <button class="ui mini" :class="{'active': query.complaint == 'no' }"
            value='no'
            aria-label="Жалоба не подавалась">Нет</button>
          <button class="ui mini" :class="{'active': query.complaint == 'any' }"
            value='any'
            aria-label="Наличие жалобы неважно">Неважно</button>
          <button class="ui mini" :class="{'active': query.complaint == 'yes' }"
            value='yes'
            aria-label="Жалоба подавалась">Есть</button>
        </div>-->
      </fieldset>
    </div>

  </div>
  
  {% if answers %}
  <div bp="padding-bottom--sm" >
    <a href="/old/html/export_csv/?{{request.GET.urlencode()}}">Скачать csv</a>
    <span style="color: #777">
    {{num_total_answers}} {{plural(num_total_answers, ['ответ', 'ответа', 'ответов'])}}
    </span>
  </div>
  {% endif %}
  
  <div id='feed'>
    {% include "_feed.html" %}
    {% if not answers %}
      <div style="text-align: center; padding: 2em; background: #eee;">
            Нет ответов с таким фильтром.
      </div>
    {% endif %}
  </div>

  # if not displayed_all
    <div bp="grid" style="padding: 5px 0;">
      <div bp="12 text-center" class="">
        <button class="btn btn-secondary" onClick="ufo.url.query({show_all: 'yes'})"> 
          Показать все {{num_total_answers}} 
        </button>
      </div>
    </div>
  # endif
  
</div>

  {% include "modals/_PhotosModal.html" %}

{% endblock %}
