{% extends "base.html" %}


{% block title %} Архив {% endblock %}

{% block extra_head %}

<!--
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.0/css/lightbox.min.css"  crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.0/js/lightbox.min.js" crossorigin="anonymous"></script>-->
  

  

  
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
  
  <link href="/static/base.css" rel="stylesheet" />
  
  <script type="text/javascript" >

  </script>
{% endblock %}

{% block header %}
<!--   Всего ответов получено: {{num_answers}} -->
{% endblock %}

{% block main %}
<div bp="padding--sm">

  <div>
    <h2 class="pophover" title="Создатель: {{organization.creator}}">{{organization.name}}
      # if organization.creator == request.user
        <a href=# onClick="$('#OrgEditModal{{organization.id}}').modal('show');">
          <i class="edit icon"></i> 
        </a>
      # endif
    </h2>
    
    <div class="ui accordion">
      <div class="title">
        <i class="dropdown icon"></i>
        Указать номера УИК
      </div>
      <div class="content">
        <ul>
          <li> Наблюдатели на этих участках видят ваши контакты</li>
          <li> Вы будете видеть эти участки в ленте событий</li>
        </ul>
            
        <div bp='padding-left--lg'>
          <div bp="padding-bottom--sm">
            # for branch in organization.branches.order_by('region'):
            <div class="" >
              <b>{{branch.region.name}}</b> УИК:
              <a aria-label="Указать УИК {{branch.region.name}}" style="color: #777" href=#
                onClick="$('#UikRangesModal{{branch.id}}').modal('show')">
              {{', '.join(branch.get_uik_ranges()) or 'все'}}
              </a>
            </div>
            # endfor
          </div>
          <button class="ui mini" onclick="$('#OrgEditModal{{organization.id}}').modal('show');">
            Добавить/Удалить регион
          </button>
        </div>
        
      </div>
    </div>
  
    <div bp="padding-top--lg">
      <div class="contacts">
        <h4>Контакты организации
          <small style="color: #777">{{ '' if organization.contacts.all() else 'нет'}}</small> 
          &nbsp;
          <a style="font-size: 0.8rem; color:gray;" href=# onClick="$('#ContactModal').modal('show')" >
            добавить
          </a>
        </h4>
        <small class="form-text text-muted">
          Видны наблюдателям всех ваших кампаний.
        </small>
        
        
        {% macro contacts(list) %}
          # for contact in list 
            <div>
              <i class="{{contact.icon}} icon"></i>
              <span aria-label="Название контакта" style="color: #777">
                {{contact.name}}:
              </span>
              <span aria-label="{{contact.get_type_display()}}">
                {{contact.value}}
              </span>
              <button bp="margin-left--sm" class="ui icon mini circular button" 
                url='/api/internal/contacts/{{contact.id}}/'
                onClick="ufo.client.delete($(this))"
              >
                <i class="times icon"></i>
              </button>
            </div>
          # endfor
        {% endmacro %}
        
        {{contacts(organization.contacts.filter(type='ph', campaign=None).all())}}
        {{contacts(organization.contacts.filter(campaign=None).exclude(type='ph').all())}}
      </div>
    </div>
  </div>
  
  <div bp='padding-top--lg'>
    <h3>Активные кампании</h3>
    # for campaign in upcoming_campaigns
      <div class="message alert alert-secondary campaign" role="alert"
        aria-label="Кампания наблюдения {{campaign.election.name}}">
        <i class="close icon pophover" data-content="Удалить кампанию"
          url="/api/internal/campaigns/{{campaign.id}}/"
          confirm='Удалить кампанию?'
          onClick="ufo.client.delete($(this))">
        </i>
        <b>
          {{campaign.election.name}}
        </b>
        <span bp='margin--sm'>{{campaign.election.date.strftime('%d %B')}}</span>
        <small style="color: #777" >
          {{ campaign.election.region.name if campaign.election.region else 'федеральные'}}
        </small>
        
        <div>
          <div class="contacts">
            <b>Контакты </b>
            <small bp='margin--sm' style="color: #777">
              {{ '' if campaign.contacts.all() else 'нет'}}
            </small> 
            &nbsp;
            <button class="ui mini button add_contact" 
              onClick="$('#ContactModal{{campaign.id}}').modal('show')"
              aria-label="Добавить Контакт для {{campaign.election.name}}"
            >
              добавить
            </button>
          </div>

          {{contacts(campaign.contacts.filter(type='ph').all())}}
          {{contacts(campaign.contacts.exclude(type='ph').all())}}
        </div>
        
      </div>
    # else
    <div style="color: #777">Нет активных кампаний.</div>
    <p>
      Чтобы наблюдатели увидели контакты организации в мобильном приложении, создайте кампанию по наблюдению за выборами. В расположенном ниже списке предстоящих выборов нажмите кнопку "Начать кампанию".
    </p>
    # endfor
  </div>
  <div class="ui divider"></div>
  <div>
    <h3>Выборы</h3>
    
    {% macro election_row(election=None) %}
      <div>
        <button class="election ui mini button primary" 
          onclick="
            $.post('/api/internal/campaigns/', JSON.stringify({
              election: '{{election.id or ''}}',
              org: '{{organization.id}}'
            })).done(()=> location.reload() )"
          aria-label="Начать кампанию {{election.name or 'Тестовые выборы'}}"
        >
          Начать кампанию
        </button>
        {{election.name or 'Тестовые выборы'}} {{election.date.strftime('%d %b') if election else ''}}
        <span style="color: #777" ><small>
          {{ election.region.name if election.region else 'федеральные'}}
        </small></span>
      </div>
    {% endmacro %}
    
    # for election in upcoming_elections:
      {{election_row(election)}}
    # else:
      # if upcoming_campaigns:
        <div>Нет предстоящих выборов</div>
      # else:
        {{election_row()}}
      # endif
    # endfor
    
  </div>
  
</div>

{% include 'modals/_ContactModal.html' %}

# for campaign in upcoming_campaigns:
  {% include 'modals/_ContactModal.html' %}
# endfor

# for branch in organization.branches.all():
  {% include 'modals/_UikRangesModal.html' %}
# endfor


{% endblock %}
