{% extends "base.html" %}


{% block title %} Персонал {% endblock %}

{% block extra_head %}
<!--
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.0/css/lightbox.min.css"  crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.0/js/lightbox.min.js" crossorigin="anonymous"></script>-->
  
  <link href="/static/base.css" rel="stylesheet" />
  
  <script>
    $(function(){

    });
  </script>
{% endblock %}

{% block header %}
<!--   Всего ответов получено: {{num_answers}} -->
{% endblock %}

{% block main %}
<div bp="padding--sm">
  <div bp="padding-bottom--sm">
    <h2>{{organization.name}}</h2>
    
    <div bp="padding-bottom--sm">
      Создатель: {{organization.creator}}
    </div>  
  </div>
  
  # if request.user in organization.admins:
  <div bp="padding-bottom--sm">
    <h4>Пригласить</h4>
    <form class="ui mini form autovalidate" method='post'
      action='/api/internal/orgs/{{organization.pk}}/members/'
      onSubmit="ufo.client.submit(this); return false;"
    >
      <div class="fields" >
        <div class="inline field">
          <input id="email" style="width:100%" type=email name="email" autocomplete="email" placeholder="Введите email" rules="email" onenter="$(this).closest('form').submit()"
          aria-label="Введите email для приглашения"
          />
         <small class="form-text text-muted"> 
          Будет отправлено письмо со ссылкой по которой пользователь может присоединиться. 
         </small>
        </div>
        <div class="field">
          <button class="ui button mini primary" aria-label="Отправить приглашение"> Отправить </button>
        </div>
        <div class='result'></div>
      </div>
    </form>
  </div>
  # endif
  
  <div bp="padding-bottom--lg">
    <h4>Заявки на вступление в организацию</h4>
    # for application in organization.join_requests.all():
      <div>
        {{application.user}} 
        
        <button class='ui mini' 
          onClick="
            $.post('/api/internal/orgs/{{organization.pk}}/members/', JSON.stringify({
              email: '{{application.user.email}}'
            })).done(()=> $(this).parent().remove())
          "
        >
          Принять
        </button>
      </div>
    # else
      нет заявок
    # endfor
  </div>
  <div>
    <h4>Персонал</h4>
    
    {% macro members(users) %}
      {% for member in users %}
        <tr class='member' data-userid='{{member.user.pk}}'>
          # if request.user == organization.creator and not member.user == request.user:
            <td> 
              {{member.user.email}}
              
              <button class="ui button icon mini circular pophover" data-content="Исключить"
                onClick="ufo.client.delete($(this))"
                url='/api/internal/orgs/{{organization.pk}}/members/{{member.user.pk}}/' 
                confirm='Исключить пользователя?'>
                <i class="times icon" ></i>
              </button>
              
            </td>
            <td> 
              <div class="ui dropdown auto" value="{{member.role}}" onchange="($this, val) => {
                $.ajax({
                  url: `/api/internal/orgs/{{organization.pk}}/members/{{member.user.pk}}/`,
                  method: 'PATCH',
                  data: JSON.stringify({role: val})
                })
              }">
                <div class="text"></div> <i class="dropdown icon"></i>
                <div class="menu">
                  <div class="item" data-value="operator">Оператор</div>
                  <div class="item" data-value="admin">Администратор</div>
                </div>
              </div>
              
            </td>
          # else
            <td> {{member.user.email}} </td>
            <td> {{member.get_role_display()}} </td>
          # endif
        </tr>
      {% endfor %}
    {% endmacro %}
    
    <table class="ui table">
      {{members(organization.orgmembership_set.filter(role='admin'))}}
      {{members(organization.orgmembership_set.filter(role='operator'))}}
    </table>
  </div>
</div>
{% endblock %}
