{% extends "base.html" %}


{% block title %} Организации {% endblock %}

{% block extra_head %}
  <script >
    $(function(){
    });
  </script>
{% endblock %}

{% block header %}
<!--   Всего ответов получено: {{num_answers}} -->
{% endblock %}

{% block main %}
<div bp="padding--sm">
  
  <div bp='padding-bottom--lg'>
    <h4> Ваши организации </h4>
    
    {% if not request.user.managed_orgs.exists() %}
    <div>
      Нет
      <button class="ui mini primary" onclick="$('#OrgCreateModal').modal('show')"> 
        Создать 
      </button>
    </div>
    {% endif %}
  
    # for org in request.user.owned_orgs.all():
      <div class="message alert alert-secondary "
        aria-label="Управление организацией {{org.name}}">
        <h5> 
          {{org.name|title}} 
          <a href=# onClick="$('#OrgEditModal{{org.id}}').modal('show');">
            <i class="edit icon"></i> 
          </a>
        </h5> 
        
        <div class="orgedit">
          <style> .orgedit a + a { margin-left: 1rem;} </style>
          
          <a class="item" href="/old/html/organizations/manage/{{org.id}}/campaigns/"
            data-toggle="tooltip" data-placement="right" 
            title="Изменить контакты организации и кампании по наблюдению на выборах."
          >
            Кампании
          </a>
          
          <a class="item" href="/old/html/organizations/manage/{{org.id}}/staff/"
            data-toggle="tooltip" data-placement="right" 
            title="Назначить администраторов, операторов или модераторов"
          >
            Персонал
          </a>
          
          <a class="item" href="/old/html/organizations/manage/{{org.id}}/tik_emails/"
            data-toggle="tooltip" data-placement="right" 
            title="Назначить получателей копий жалоб"
          >
            Настройки жалоб в ТИК
          </a>
        </div>
      </div>
    # endfor
  </div>
  
  <div bp="grid vertical-center ">
    <div bp="12 text-center text-left@lg padding-bottom--sm">
      <h4> Организации </h4>
      <div class="ui dropdown very long region auto search"
        params="({fullTextSearch: 'exact', clearable: true})"
        onchange="($this, val) => {ufo.url.query({region: val})}"
        value="{{request.GET.region or 'any'}}">
        <input type=hidden >
        <div class="text"></div>&nbsp;<i class="dropdown icon"></i>
        <div class="menu">
          <div class="item" data-value="any">Регион: неважно</div>
          # for region in user.country.regions.all()
            <div class="item" data-value="{{region.id}}">{{region.name}}</div>
          # endfor
        </div>
      </div>
    </div>
  </div>
  
  <div bp="grid vertical-center ">
    <div bp='12 text-center text-left@lg '>

      # for org in organizations
        <div style="margin: 1rem 0;">
          <b class="pophover" title="Создатель: {{org.creator}}">{{org.name|title}}</b>
          # if request.user.pk 
            # if request.user in org.members.all():
              Вы состите в организации
            # else
              # if org.join_requests.filter(user=request.user).exists():
                Заявка отправлена
              # else:
                <button class="ui button mini" style="margin-left: 1em;"
                  onclick="$.post('/api/internal/orgs/{{org.id}}/join_applications/').done(()=>{
                    $(this).hide().parent().append('Заявка отправлена')
                  })"
                >
                  Вступить
                </button>
              # endif
            # endif
          # endif
        </div>
      # else
        <div style="text-align: center; padding: 2em; background: #eee;">
          Нет организаций с таким фильтром.
        </div>
      # endfor

    </div>
  </div>

  {% include "modals/_OrgCreateModal.html" %}
    
</div>
{% endblock %}
