{% extends "base.html" %}



{% block title %} протокол {% endblock %}

{% block extra_head %}

<style>
div.table {display:table}
div.row {display:table-row}
div.cell {
    display:table-cell;
    border: 1px solid #999999;
    padding: 1px;}
</style>
 <script type="text/javascript" >
        $(function(){
            $("table").tablesorter();
            /*var options = {
                valueNames: [ 'app_id', ]
            };

            var hackerList = new List('my', options);*/
        });
    </script>
{% endblock %}

{% block main %}
    <div id="main">
            <div >
                Изменен: {{proto.modified|date:"SHORT_DATETIME_FORMAT"}}
            </div>
            <div >app_id: {{proto.app_id}}</div>
            <div >{{proto.fio}}</div>
            <div >+7{{proto.phone}}</div>
            <div >УИК: {{proto.uik}}</div>
            <div >Регион: {{proto.region}}</div>
            <div >{{proto.appform.name}}</div>
            <div >Заполнен: {{proto.complete}}</div>
            <div class='table'>
            {% for field, value in proto.ordered_data.items %}
                <div class='row'>
                    <div class='cell'>{{field}}</div> <div class='cell'>{{value}}</div>
                    </div>
            {% endfor %}
            </div>

{% endblock %}
