{% extends "base.html" %}



{% block title %} Юзер {{app_id}} {% endblock %}

{% block extra_head %}

<style>
div.table {display:table}
div.row {display:table-row}
div.cell {
    display:table-cell;
    border: 1px solid #999999;
    padding: 1px;}
</style>
 <script type="text/javascript" >
        $(function(){
            $("table").tablesorter();
            /*var options = {
                valueNames: [ 'app_id', ]
            };

            var hackerList = new List('my', options);*/
        });
    </script>
{% endblock %}

{% block main %}
    <div id="main">
        <div>Всего событий получено: {{events.count}}</div>
        <table>

            <thead>
                <tr>
                    <th class='cell'>Время</th>
                    <th class='cell'>Имя</th>
                    <th class='cell'>Фамилия</th>
                    <th class='cell'>Телефон</th>
                    <th class='cell'>роль</th>
                    <th class='cell'>УИК</th>
                    <th class='cell'>Регион</th>
                    <th class='cell'>Что</th>
                    <th class='cell'>Значение</th>
                </tr>
            </thead>
            <tbody>
            {% for event in events %}
                <tr>
                    <td class='cell'>{{event.timestamp|date:"SHORT_DATETIME_FORMAT"}}</td>
                    <td class='cell'>{{event.userprofile.first_name}}</td>
                    <td class='cell'>{{event.userprofile.last_name}}</td>
                    <td class='cell'>+7{{event.userprofile.phone}}</td>
                    <td class='cell'>{{event.userprofile.status}}</td>
                    <td class='cell'>{{event.data.uik}}</td>
                    <td class='cell'>{{event.data.region_id}}</td>
                    <td class='cell'>{{event.input_label}}</td>
                    <td class='cell' style="color:{{ event.data.is_incident|yesno:'red,green' }}">
                        {{event.data.value}}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
<!--     { render_bundle "main" } -->
{% endblock %}
