# Make a copy of this file, named env-local for local development

#DJANGO_DEBUG=True
DJANGO_DEBUG=False

DEBUG_TOOLBAR=False
#DJANGO_SECRET_KEY=123

#DATABASE_URL=sqlite://:memory:
#DATABASE_URL=sqlite:///{SRC_DIR}/db.sqlite

DJANGO_AWS_SECRET_KEY=25717735715
DJANGO_AWS_ACCESS_KEY=13357357257247

#GOOGLE_OAUTH2_CLIENT_ID=12345678-agaspgaspgi.apps.googleusercontent.com
#GOOGLE_OAUTH2_CLIENT_SECRET=GKEPE1-11Q_HSEGsKNhL88KgSg73JsB9

# If you use sendgrid to send emails, uncomment following two lines, and
# set your SENDGRID_API_KEY variable.
#
#EMAIL_BACKEND=anymail.backends.sendgrid.EmailBackend
#SENDGRID_API_KEY="68248246824682468"


# If you use brevo to send emails, uncomment following two lines, and
# set your BREVO_API_KEY variable.
#
#EMAIL_BACKEND=anymail.backends.brevo.EmailBackend
#BREVO_API_KEY="68248246824682468"


# Fake sending emails
# EMAIL_BACKEND=django.core.mail.backends.locmem.EmailBackend
# EMAIL_BACKEND=anymail.backends.test.EmailBackend

# If you use regular smtp server to send emails, uncomment following two lines, and
# set your EMAIL_HOST_PASSWORD variable.
#
#EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
#EMAIL_HOST_PASSWORD=mypassword


# EMAIL_HOST_USER is default email source address
# EMAIL_HOST_USER=noreply@uik.info
EMAIL_HOST_USER=noreply@vybory.live


TIK_EMAIL_MODERATION=1
SEND_TIK_EMAILS=0
ADMIN_EMAIL="someuniquename@gmail.com"


TURNSTILE_SITE_KEY="123"
TURNSTILE_SECRET_KEY="456"

# Set this to the domain of the server
#
#DOMAIN_NAME='uik-info.herokuapp.com'


# SENTRY_DSN=https://1234.ingest.us.sentry.io/5678


## Cookies only sent under HTTPS
# SESSION_COOKIE_SECURE=True


UFO_LOGLEVEL=INFO
#UFO_LOGLEVEL=DEBUG


# Used in SSE streaming. Possible values are:
# views.answers.sse.poll_database
# views.answers.sse.redis_pubsub (TODO: Not implemented yet)
# views.answers.sse.postgres_pubsub (TODO: Not implemented yet)
ANSWERS_SSE_ENGINE=views.answers.sse.poll_database

# When poll_database SSE engine is used, set the delay between
# the db queries in seconds.
ANSWERS_SSE_POLL_DB_DELAY=5.0
