{% extends "views/base.html" %}


{% block title %} {{_('Sign in')}} {% endblock %}

{% block extra_head %}

{% endblock %}

{% block header %} {% endblock %}


{% block main %}

<main class="flex w-full max-w-xs flex-col border-opacity-50 mx-auto">

  <div class="text-center align-middle">
    <a class="btn ghost" href="/auth/google/start"
      :class="!body.page_unloading || 'animate-pulse cursor-wait'"
    >
      {{_('Sign in with Google')}}
    </a>
  </div>

  <div class="divider"> {{_('or')}} </div>

  <div class="text-center align-middle">
    <form id=form
      x-sync
      x-data="{
        email: '',
        submit() { $ajax('', {method: 'post', target: 'errors', body: $el, sync: true}) }
      }"
      @submit.prevent
    >
<!--     <label class="block"> {{_('Sign in with Email')}}</label> -->

      <fieldset>
        <div class="join" >
          <input type=email name="email" x-model=email rules="email"
            class="join-item input input-bordered"
            {{ 'disabled' if message else '' }}
            autocomplete="email" placeholder="{{_('Enter email address')}}"
          />

          <button id="button"  class=" btn btn-primary join-item"
            :class="!body.page_unloading || 'animate-pulse cursor-wait'"
            @click="submit()"
            # if message
              disabled
            # else
              :disabled=!/^[a-zA-Z\-0-9]+@[a-zA-Z\-0-9]+\.[a-zA-Z\-0-9]+$/g.exec(email)
            # endif
          >
            {{_('Send')}}
          </button>
        </div>

      </fieldset>
    </form>


    <div id="result" x-sync class="mt-1">
      # if message
        <div role="alert" class="mx-auto alert alert-success max-w-xs flex">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6 shrink-0 stroke-current"
            fill="none"
            viewBox="0 0 24 24">
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
          <span>{{message}}</span>
        </div>
      # endif
    </div>

  </div>
</main>

{% endblock %}
