{% extends "views/base.html" %}

{% block title %}
  {{_('Settings')}}
{% endblock %}

{% block extra_head %}
{% endblock %}

{% block header %}
  {{_('Settings')}}
{% endblock %}


{% block main %}
<form method="post" id="form" x-sync
  x-target="form messages" x-target.error="errors" @change="$el.requestSubmit()"
>

  <fieldset class="col-span-2 md:col-span-1 text-center align-middle">

    <label class="block">
      {{_('Country')}}
    </label>

    <select class="select w-full max-w-xs" name="country_id">
      # for country in Country.objects.all()
        <option value="{{country.id}}"
            {{ 'selected' if country.id == user.country_id else '' }}
        >
          {{country.flag}} {{country.name}}
        </option>
      # endfor
    </select>

  </fieldset>


  <fieldset class="col-span-2 md:col-span-1 mt-6 text-center align-middle">

    <label class="block">
      {{_('Timezone')}}
    </label>

    <select class="select w-full max-w-xs" name="utc_offset">
      # for offset in range(-23, 23)
        <option value="{{offset}}"
            {{ 'selected' if offset == user.utc_offset else '' }}
        >
          UTC{{'{x:+}'.format(x=offset)}}
        </option>
      # endfor
    </select>
  </fieldset>


  <fieldset class="col-span-2 md:col-span-1 mt-6 text-center align-middle">

    <label class="block">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="inline size-4">
        <path stroke-linecap="round" stroke-linejoin="round" d="m10.5 21 5.25-11.25L21 21m-9-3h7.5M3 5.621a48.474 48.474 0 0 1 6-.371m0 0c1.12 0 2.233.038 3.334.114M9 5.25V3m3.334 2.364C11.176 10.658 7.69 15.08 3 17.502m9.334-12.138c.896.061 1.785.147 2.666.257m-4.589 8.495a18.023 18.023 0 0 1-3.827-5.802" />
      </svg>

      {{ _("Language") }}

    </label>

    <select class="select w-full max-w-xs" name="language">
      # for lang in WebsiteUser.Languages
        <option value="{{lang.value}}"
            {{ 'selected' if lang == user.language else '' }}
        >
          {% language lang %} {{lang.label}} {% endlanguage %}
        </option>
      # endfor
    </select>

  </fieldset>


  ## Theme switch
  <fieldset class="col-span-2 md:col-span-1 mt-4 text-center align-middle justify-center">

    <label class="px-2 text-center w-full md:w-auto">
      {{ _("Theme") }}
    </label>

    <div class="join flex items-center justify-center md:w-auto w-full md:inline-flex">

      <input class="btn join-item theme-controller text-lg btn-sm w-16" type="radio" name="theme"
        value="dark" {{'checked' if user.theme == 'dark' else '' }}
        aria-label="☾" />
        ## aria-label="dark ☾ " />
      <input class="btn join-item theme-controller text-lg  btn-sm w-16" type="radio" name="theme"
        value="retro" {{'checked' if user.theme == 'retro' else '' }}
        aria-label="☼" />
        ## aria-label="☼ light" />

    </div>

  </fieldset>

</form>

{% endblock %}
