{% extends "views/base.html" %}


{% block title %} {% endblock %}

{% block extra_head %}

{% endblock %}

{% block header %} {% endblock %}


{% block main %}
<main class="text-center max-w-md m-auto px-2">
  <section class="py-10">
      <h1 class="text-4xl font-bold">
        Election Hotline
      </h1>
      <p class="py-6">
        {{_('Monitor election transparency data submitted by public observers at voting stations.')}}
      </p>

  </section>

  <section class="py-8">
    <h1 class="text-2xl font-bold">
      <a href="/history" class="link link-primary link-hover"
        :class="!body.page_unloading || 'animate-pulse cursor-wait'"
      >
        {{_('History')}}
      </a>
    </h1>

    <p> {{_('Filter through answers given during past elections')}} </p>

  </section>

  <section class="py-10">
      <h1 class="text-2xl font-bold">
        <a href="/organizations" class="link link-primary link-hover"
          :class="!body.page_unloading || 'animate-pulse cursor-wait'"
        >
          {{_('Organizations')}}
        </a>
      </h1>

      <p> {{_('Become part of a team assisting observers in real time')}} </p>

  </section>
</main>
{% endblock %}
